[submodule "include/org-dtek"]
	path = include/org-dtek
	url = git@github.com:Jassob/org-dtek
[submodule "include/jdee-server"]
	path = include/jdee-server
	url = https://github.com/jdee-emacs/jdee-server.git
[submodule "site-lisp/pdf-tools"]
	path = site-lisp/pdf-tools
	url = git@github.com:politza/pdf-tools.git
